.signup{
    width: 25%;
    margin: 20px auto 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
  }
  
  .signup h1{
    text-align: center;
    margin: 20px 0;
  }
  
  .signup p{
    text-align: right;
  }
  
  .signup form{
    display: flex;
    flex-direction: column;
  }
  
  .signup form label{
    display: flex;
    flex-direction: column;
  }

  .signup form input{
    height: 40px;
    margin-bottom: 20px;
  }
  
  .signup form button[type="submit"]{
    background-color: rgb(64, 64, 143);
    color: white;
    font: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    height: 40px;
  }


  @media screen and (max-width: 1168px){

    .container , .signup , .login{
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
    
  }
  
  @media screen and (max-width: 968px){
  
    .signup , .login{
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
    
  }
  
  @media screen and (max-width: 768px){
  
    .signup , .login{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    
  }
  
  @media screen and (max-width: 568px){
  
    .signup , .login{
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    
  }